<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Starter Template for Bootstrap</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-  1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">


    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.1/css/bootstrap-datepicker.css">


    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

   <div class="container-fluid">
       <h1>Generador Carta de Solicitud de Datos Abiertos</h1>
       <p class="lead">
          Llene el siguiente formulario para generar la carta que debe enviar a la institucion publica para solicitar datos abiertos
       </p>
   </div>
   <div class="container-fluid">
    <form method="POST" target="_blank" action="generar_solicitar">

      <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-primary">
              
              <div class="panel-heading">Solicitante</div>
              
              <div class="panel-body">
                  <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input type="text" class="form-control input-sm" name="solicitante_nombre" placeholder="Juan">
                  </div>
              
                  <div class="form-group">
                      <label for="1apellido">1er apellido</label>
                      <input type="text" class="form-control input-sm" name="solicitante_apellido1" placeholder="Perez">
                  </div>
                  
                  <div class="form-group">
                      <label for="2apellido">2do apellido</label>
                      <input  type="text" class="form-control input-sm" name="solicitante_apellido2" placeholder="Arias">
                  </div>

                  <div class="form-group">
                      <label for="email">e-mail</label>
                      <input type="email" class="form-control input-sm" name="solicitante_email" data-error="por favor ingrese un e-mail valido" placeholder="juan@gmail.com">
                  </div>

                  <div class="form-group">
                      <label for="telefono">Telefono</label>
                      <input type="text" class="form-control input-sm" name="solicitante_telefono" placeholder="111 5555">
                  </div>

                  <div class="form-group">
                      <label for="direccion">Direccion</label>
                      <input type="text" class="form-control input-sm" name="solicitante_direccion" placeholder="Calle A # B - Z, Cali">
                  </div>

                  <div class="form-group col-sm-2">
                    <label for="nombre">Tipo Identificacion</label>
                    <select name="solicitante_tipo_id" class="selectpicker">
                      <option>CC</option>
                      <option>TI</option>
                      <option>Pasaporte</option>
                      <option>NUIP</option>
                    </select>
                  </div>
                  <div class="form-group col-sm-4">
                    <label for="identificacion">Identificacion</label>
                    <input type="text" class="form-control" name="solicitante_identificacion" placeholder="123">
                  </div>
              </div>
            </div>
        </div>
      </div>


      <div class="row">
          <div class="col-sm-12">
              <div class="panel panel-primary">
                  <div class="panel-heading">Informacion sobre la Entidad</div>
                  <div class="panel-body">
                    <div class="form-group">
                          <label for="entidad_nombre">Nombre</label>
                          <input type="text" class="form-control input-sm" name="entidad_nombre" placeholder="Senado de la Republica">
                      </div>
                      <div class="form-group">
                          <label for="entidad_ciudad">Ciudad</label>
                          <input type="text" class="form-control input-sm" name="entidad_ciudad" placeholder="Medellin">
                      </div>
                      <div class="form-group">
                          <label for="entidad_direccion">Direccion</label>
                          <input type="text" class="form-control input-sm" name="entidad_direccion" placeholder="Calle Z # T-A">
                      </div>
                      <div class="form-group">
                          <label for="entidad_telefono">Telefono</label>
                          <input type="text" class="form-control input-sm" name="entidad_telefono" placeholder="555">
                      </div>
                 </div>   
              </div>
          </div>
      </div>

      <div class="row">
            <div class="col-sm-12">

          <div class="panel panel-primary">
              <div class="panel-heading">Informacion sobre el funcionario al que dirige la peticion</div>
              <div class="panel-body">
                <div class="form-group">
                      <label for="funcionario_nombre">Nombre</label>
                      <input type="text" class="form-control input-sm" name="funcionario_nombre" placeholder="Sara">
                  </div>
                  <div class="form-group">
                      <label for="funcionario_ap1">Apellido 1</label>
                      <input type="text" class="form-control input-sm" name="funcionario_apellido1" placeholder="Gonzalez">
                  </div>
                  <div class="form-group">
                      <label for="funcionario_ap2">Apellido 2</label>
                      <input type="text" class="form-control input-sm" name="funcionario_apellido2" placeholder="Maldonado">
                  </div>
                  <div class="form-group">
                      <label for="funcionario_cargo">Cargo(i.e: Rector)</label>
                      <input type="text" class="form-control input-sm" name="funcionario_cargo" placeholder="Admnisitradora general del Senado de la Republica">
                  </div>
              </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-primary">
                <div class="panel-heading">Informacion sobre el dataset</div>
                <div class="panel-body">
                  <div class="form-group">
                        <label for="dataset_descripcion">
                          Descripcion de los datos solicitados
                        </label>
                        <textarea class="form-control" rows="5" name="dataset_descripcion" placeholder="Dataset que contenga informacion sobre la asistencia de senadores a las plenarias"></textarea>
                    
                  </div>
                  <div class="form-group">
                        <label for="dataset_campos">
                          Campos que espera encontrar en el dataset (divididos por comma)
                        </label>
                        <textarea class="form-control" rows="3" name="dataset_campos" placeholder="Nombre Senador, CC Senador, Fecha de Ingreso al senado..."></textarea>
                  </div>
                  <div class="input-group input-daterange">
                      <input type="text" class="form-control" value="2012-04-05">
                      <span class="input-group-addon">to</span>
                      <input type="text" class="form-control" value="2012-04-19">
                  </div>
                </div>
            </div>
        </div>
      </div>


      <div class="row">
          <div class="col-sm-12">
            <div class="panel panel-primary">
                <div class="panel-heading">Clasificacion</div>
                <div class="panel-body">
                  <div class="form-group">
                      <label>
                        <input type="checkbox" name="clasificacion_datos_flag">
                        Son los datos que solicita Clasificados? (Informacion sensible protegida por la ley ) 
                      </label>
                  </div>
                  <div class="form-group">
                      <label>
                        <input type="checkbox" name="clasificacion_antiguedad_mayor_a_15_anios_flag">
                        Son datos clasificados con mas de 15 años de antiguedad?
                      </label>     
                  </div>
                </div>
            </div>
          </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-primary">
                <div class="panel-heading">Otras Restricciones</div>
                <div class="panel-body">
                  <div class="form-group">
                      <label>
                        <input type="checkbox" name="datos_industriales_flag">
                        Son datos que podrian considerarse secretos industriales?
                      </label>
                  </div>
                    <div class="form-group">
                      <label>
                        <input type="checkbox" name="seguridad_nacional_flag">
                        Son datos  que podrian afectar la seguridad nacional?
                      </label>                
                    </div>
                    <div class="form-group">
                      <label>
                        <input type="checkbox" name="investigaciones_en_curso_flag">
                        Son datos generados apartir de una investigacion judicial aun en curso?
                      </label>
                    </div>
                </div>
            </div>
        </div>
      </div>
      <div class="row">
          <div class="col-sm-12">
            <button type="submit"  style="display: block; width: 100%;" class="btn btn-primary">
              Generar Solicitud
            </button>
          </div>
      </div>   
     <hr>
      <footer>
        <p>www.datosabiertos.co</p>
      </footer>
    </form>  
    </div><!-- /.container -->

 

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

        <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.1/js/bootstrap-datepicker.js"></script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.1/locales/bootstrap-datepicker.es.min.js"></script>

    <script type="text/javascript">


      $('.input-daterange input').each(function() {
          $(this).datepicker("clearDates");
      });

    
    </script>
 
  </body>
</html>
