<html>
	<head></head>
	<body>
		<div>


 <p>{{solicitud.institucion.ciudad}}, {{solicitud.fecha}}</p>

<p>
	{{solicitud.funcionario.nombre}} {{solicitud.funcionario.apellido1}} {{solicitud.funcionario.apellido2}}<br>
	{{solicitud.funcionario.cargo}}<br>
	{{solicitud.institucion.nombre}}<br>
</p>

<p><h2>Solicitud de información</h2></b>
<p>Respetado señor/a:</p>

<p>En ejercicio del derecho fundamental de petición, consagrado en el <i>artículo 23</i> de la Constitución Nacional, y del derecho de acceso a la información pública, consagrado en los <i>artículos 20 y 74</i> de la misma, desarrollado por la <i>ley 1712 de 2014</i>; de manera respetuosa le solicito la siguiente información:

<p> {{solicitud.dataset.descripcion}}.</p>

<p>La informacion solicitada debe contener datos entre las fechas  <b>{{solicitud.dataset.fecha_inicial}} </b> y <b>{{solicitud.dataset.fecha_final}}</b>. 

<p>Los siguientes campos deben estar presentes: {{solicitud.dataset.campos}} </p>


<p>En virtud del principio de calidad de información, establecido en el <i>artículo 3 de la ley 1712 de 2014</i> le solicito que la información solicitada se entregue en un formato procesable y reutilizable, toda vez que dicha norma indica que la información debe ser "oportuna, objetiva, veraz, completa, reutilizable, procesable y estar disponible en formatos accesibles para los solicitantes e interesados en ella".</p>

<p>Por tanto en lo posible y preferiblente el formato de los datos entregados deberia ser <i>CSV, TSV, SQl Dumps o similares</i>.</p>

<p>Además de esto, me permito indicarle que el principio de no discriminación, consagrado en el <i>artículo 3 de la citada ley</i>, establece que los sujetos obligados deben entregar información "sin hacer distinciones arbitrarias y sin exigir expresión de causa o motivación para la solicitud". Adicionalmente, el <i>parágrafo del artículo 26</i> de dicha norma indica que "en ningún caso podrán ser rechazadas la petición por motivos de fundamentación inadecuada o incompleta</p>

<p>{{solicitud.salvavidas_reserva}}</p>
<p>{{solicitud.salvavidas_reserva_antiguedad}}</p>

<p>Espero la respuesta a la presente solicitud, via correo a mi direccion ({{solicitud.solicitante.direccion}}) o via email ({{solicitud.solicitante.email}}). </p>

<br>

<p>Cordialmente,</p>
<br>
<br>

___________________
<p>
 {{solicitud.solicitante.nombre}} {{solicitud.solicitante.apellido1}}<br>
 {{solicitud.solicitante.tipo_identificacion}} {{solicitud.solicitante.identificacion}}<br>
 {{solicitud.solicitante.email}}<br>
 {{solicitud.solicitante.telefono}}
</p>



		</div></body>
</html>